.user-input{
    padding:6px 12px;
    width: 300px;
    margin-bottom: 10px;
    background-color: transparent;
    border: 2px solid #920897;
    border-radius: 5px;
    outline: 0;
}
::placeholder{
    color: #575454;
}
.login-container{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
}
.login-heading{
    color: rgb(112, 36, 138);
}
.login-card{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(87, 87, 160); */
  background: linear-gradient(to bottom,#efccf0,#db7cdf);
 height: 400px;
 width: 400px;
 padding: 20px 40px;
}
.signUpBtn{
    background-color: transparent;
    border: 2px solid #77147a;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    font-family: "Roboto";
    width: 300px;
    padding-top: 8px;
    padding-bottom: 8px;
   
}
.signUpBtn:hover{
    background-color: rgb(202, 25, 202);
}
.error{
    color: rgb(228, 15, 15);
    font-size: 18px;
}