.posts-container{
    margin-top: 60px;
    margin-bottom: 60px;
}

.post-card{
    border: 2px solid gray;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    height: auto;
    width: auto;

}
.loader{
    text-align: center;
}
.posts-title{
    text-transform: capitalize;
    font-size: 25px;
    height: 62px;
}
.posts-description{
    height: 60px;
}
@media screen and (max-width:650px){
    .post-card{
        height: 310px;
    }
    
}