.footer{
    background-color: black;
    padding-top: 20px;
    padding-top: 20px;
}
.f-link{
    margin: 10px; 
    color: white;
    text-decoration: none;
 
    
}  
.f-link:hover{

    text-decoration: underline;
}
.copyright{
    color: white;
    font-size: 15px;
}
